@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* The * selector selects all the elements */

* {
    margin: 0; /*The margin properties are used to create space around elements, outside of any defined borders*/
    padding: 0; /* The padding properties are used to generate space around an element's content, inside of any defined borders */
    box-sizing: border-box;  /*The box-sizing property allows us to include the padding and border in an element's total width and height.*/
    font-family: "Poppins", sans-serif;
}

body {
    display: flex; /*The flex property sets the flexible length on flexible items*/
    justify-content: center; /* The flex items within that container will be aligned at the center along the main axis.  */
    align-items: center; /* The items inside the flexible container will be centered */
    min-height: 100vh;
    background: url(mountain.jpg);
    background-size: cover;
    background-position: center;
}

/* Styling elements with class "wrapper" */

.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, .2.5);
    border: 2px solid rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff; /*This one of the color codes used in CSS called hex*/
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box { /*selects elements with both class wrapper and input-box*/ 
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*Styling elements with the class input-box*/

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder { /* we use " :: " to style the pseudo element - placeholder */
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*To style elements with class wrapper and class remember-forgot*/
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

/*when you hover over forgot password an underline appears*/
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/*when you hover over register an underline appears*/
.register-link p a:hover {
    text-decoration: underline;
}






